html,
body {
  overscroll-behavior: none;
}

@font-face {
    font-family: bri;
    src: url(../britanny.ttf);
}

@font-face {
  font-family: jer;
  src: url(../Jerse.ttf);
}
.bg1{
    filter: brightness(50%);
    background-size: cover;
}

.body {
  font-family: Arial Black, sans-serif;
  text-align: center;
  background: #000;
  height: 200vh;
}

.vibes{
    position: relative;
    top: -180px;
    font-size: 150px;
    font-weight: 5%;
    font-family: bri;
    background: linear-gradient(-45deg, #eacbed, #95d9f4, #ee79fb, #68bee0, #da5de8, #46b9e7, #c90bde);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    animation: neon 800ms ease-in-out infinite alternate;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
     -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
}

@keyframes neon {
    from {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #15CBF4, 0 0 10px #15CBF4, 0 0 12px #15CBF4,;
      background-image: linear-gradient(90deg, #15CBF4 0%, #42E915 100%);
      -webkit-background-clip: text;
      background-clip: text;
      transform: scale(1);
      filter: blur(5%) contrast(25%);
    }
    to {
       text-shadow: 0 0 2px #ffffff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #15CBF4, 0 0 10px #15CBF4, 0 0 12px #15CBF4, 0 0 14px #b172e8, 0 0 16px #bd49e0;
      background-image: linear-gradient(90deg, #15CBF4 0%, #42E915 100%);
      -webkit-background-clip: text;
      background-clip: text;
      transform: scale(1);
      filter: blur(6%em) contrast(50%);
    }
  }


@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .openbtn1{
    cursor: pointer;
    position: relative;
    /* left: -40px; */
    /* top: -250px; */
    font-weight: 300;
    background-color: rgb(4, 1, 1);
    color: white;
    border: none; 
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    animation: gradient 10s ease infinite;
    animation: neon 800ms ease-in-out infinite alternate;
    margin: 100px;
    font-size: 80px;
    font-family: Jer;
    background: linear-gradient(-45deg, #eacbed, #95d9f4, #ee79fb, #68bee0, #da5de8, #46b9e7, #c90bde);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
   -moz-text-fill-color: transparent;
   
  }

  .openbtn2{
    cursor: pointer;
    position: relative;
    /* left: -40px; */
    /* top: -250px; */
    font-weight: 300;
    background-color: rgb(4, 1, 1);
    color: white;
    border: none; 
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    animation: gradient 10s ease infinite;
    animation: neon 800ms ease-in-out infinite alternate;
    margin: 100px;
    font-size: 80px;
    font-family: Jer;
    background: linear-gradient(-45deg, #eacbed, #95d9f4, #ee79fb, #68bee0, #da5de8, #46b9e7, #c90bde);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
   -moz-text-fill-color: transparent;
   
  }